

.hero-container {
  width: 100vw;
  margin: 0;
}

.hero-background {
  width: 100vw;
  height: 800px;
  background-color: black;
  position: relative;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.hero-registrations {
  width: 30vw;
  height: 100px;
  background-color: #FCD600;
  position: absolute;
  z-index: 1;
  left: 80px;
  top: -15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  border-radius: 20px;
  margin-left: 57vw;

}

.hero-registrations h1 {
  font-family: 'CoveredByYourGrace', cursive;
  font-size: 25px;
}

.hero-registrations button {
  width: 150px;
  height: 50px;
  border-radius: 20px;
  background-color: #ed444b;
  color: white;
  border: none;
  margin-top: 10px;
  
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 1;
  color: white;
  left: 490px;
  top: 150px;
  font-size: 30px;
  text-align: center;
  font-family: 'CabinetGrotesk', sans-serif;
}
.hero-content p{
  margin-top: 0;
 font-size:'15px';
}
.hero-content{
  font-weight: bold;
}

.hero-logo {
  width: 7vw;
  margin: 0;
  margin-bottom: 30px;
}

.hero-statistics {
  width: 100vw;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  margin-top: 350px;
  gap: 0;
}

.hero-image-container {
  position: relative;
  margin-bottom: 0;
 
}

.hero-count-image {
  width: 100%; 
}

.hero-stats-text {
  position: absolute; 
  top: 40%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  font-family: 'CoveredByYourGrace', cursive;
  font-size: 30px;
  color: white; 
  text-align: center;
}

.hero-images {
  display: flex;
  flex-direction: column; 

  gap: 0; 
  margin-top: 0; 

}

.hero-badge {
  width: 300px;
  height: 300px;
  gap: 0; 
  margin-top: -150px; 
  
}

.hero-main-image {
  width: 100vw;
  gap: 0; 
  margin-top: -260px; 

}


@media (max-width: 480px) {
  .hero-background { 
    height: 510px;
    width: 100vw;
    margin: 0;
  }

  .hero-registrations {
    width: 65vw;
    height: 50px;
    margin-left: 10vw;
    margin-top: 30px;
    border-radius: 5px;
  }

  .hero-registrations h1 {
    font-size: 12px;
  }

  .hero-registrations button {
    width: 30vw;
    height: 25px;
    font-size: 12px;
    margin-top: -5px;
  
  }

  .hero-content {
    left: 14vw;
    top: 120px;
    font-size: 15px;
  }
  
  .hero-content p {
    font-size: 16px;
    text-align: center;
   margin-left: 40px;
   margin: 0;
  
  }
  .hero-content h1{
    margin-left: 50px;
    margin-top: 40px;
    font-size: 35px;
  }


  .hero-logo {
    width: 60px;
    height: 30px;
  
    margin-top: 10px;
  }

  .hero-statistics {
    left: 20px;
    top: 200px;
  }

  .hero-count-image {
    margin-left: 30px;
    width: 250px;
    height: 100px;
    margin-top: -70px;
  }

  .hero-stats-text {
   
    font-size: 17px;
    margin-top: 65px;
    margin-left: 70px;
  }

  .hero-stats-text p{
    width: 50vw;
    margin-top: -130px;
    margin-left: -90px;
  }

  .hero-badge {
    width: 100px;
    height: 100px;
 
    margin-top: -250px;
  }

  .hero-main-image {
    width: 100vw;
   
    margin-top:-6vw;
  }
  .hero-images{
    margin-top: 170px;
  }
}
