.partners-container {
  width: 100vw;
  background-color: white;
  padding: 20px 0;
}

.partners-title-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.partners-title {
  font-family: 'CoveredByYourGrace';
  font-size: 2rem;
  text-align: center;
}

.partners-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1000px;
  margin: 20px auto;
}

.partner-logo {
  height: 55px;
  margin: 10px;
}




@media (max-width: 480px) {
  .partners-title {
    font-size: 1.2rem;
  }

  .partner-logo {
  
  }
}
