/* Base styles */
.what-container {
  font-family: 'CabinetGrotesk', sans-serif;
  font-size: 20px;
  width: 100vw;
  
}

.what-section {
 
  color: white;
  text-align: center;
   width: 100vw;
 
}
.whatone{
  background-image: url('../assets//Frame2.png');
  height: 1000px;
}
.what-image {
  width: 100%;
  height:750px;
}

.what-text {
  position: absolute;
  margin-top: 250px;
 margin-left: 650px;
}
.what-text p{
  margin: 0;
}

.what-title {
  font-family: 'CoveredByYourGrace', cursive;
  font-size: 60px;
  margin-top: 50px;
}

.what-subtitle {
  font-size: 25px;

}

.what-description {
  position: absolute;
 margin-top: 400px;
 margin-left: 400px;
  max-width: 700px;
  font-size: 25px;
}

.what-paper-section {
  position: relative;
 margin-top: -170px;
}

.what-paper-image {
  width: 100%;

}



.what-paper-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 500px;
  color: black;
  font-size: 25px;
  font-weight: bold;
}

/* Yearly stats sections */
.yearly-stats {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  margin-top: -100px;
  height: 700px;
  justify-content: center;
}
.what-image{
  width: 300px;
  height: 200px;

}
.stats-section {
  width: 100%;
  max-width: 50%;
 
 
}

.yellow-section {
  background-color: #fcd600;
  width: 100vw;
 
  
}

.white-section {
  background-color: white;
  
}
.yellow-section h2{
  margin-top: 250px;
  margin-bottom: 30px;
  margin-left: 50px;
  
}
.yellow-section p{
  margin-left: 50px;
}
.yellow-section img{
  margin-left: 70px;
  margin-top: 30px;
}
.white-section h2{
  margin-top: 250px;
  margin-bottom: 30px;
  margin-left: 50px;
}
.white-section p{
  margin-left: 50px;
}
.white-section img{
  margin-left: 70px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .what-text,
  .what-description {
    width: 90%;
  }

  .what-paper-text {
    font-size: 20px;
  }

  .stats-section {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .what-container{
    width: 100vw;
    height: 1500px;
  }
  .what-title {
    font-size: 40px;
    margin-top: 80px;
  }
  .what-text{
    margin-left: 30px;
    margin-top: 70px;
  }
  .what-text p{
    margin: 0;
   
  }
  .what-description{
    margin-left: 30px;
    font-size: 15px;
   
  }
   .what-description p{

    margin-top: -190px;

  }

  .what-subtitle {
    font-size: 20px;
  }
 .what-paper-section{
  margin-top: -550px;
 }
  .what-paper-text {
    font-size: 15px;
    margin: 10px;
  }

  .stats-section {
   

  }
  .yearly-stats{

  
  }
  .yellow-section{
    width: 100vw;
    overflow: clip;
    margin-top: 50px;
    height: 500px;
   
   
  }
  .yellow-section h2{
  margin-top: 70px;
  }
  .yellow-section p{
    font-size: 15px;
  }
  .yellow-section-img{
    width: 75vw;
    height: 150px;
    margin-left: 20px;
    overflow: clip;
  }
  .white-section{
    width: 100vw;
    overflow: clip;
    height: 500px;
   
  }
  .white-section p{
    font-size: 15px;
  }
  .white-section h2{
    margin-top: 40px;
  }
  .white-section img{
    width: 75vw;
    height: 150px;
    margin-left: 40px;
    margin-top: 30px;
  }
}
