@font-face {
  font-family: 'CabinetGrotesk';
  src: url('./assets/fonts/CabinetGrotesk-Black.otf') format('opentype');
  font-weight: 900; /* Black font weight */
  font-style: normal;
}

@font-face {
  font-family: 'CabinetGrotesk';
  src: url('./assets/fonts/CabinetGrotesk-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'CabinetGrotesk';
  src: url('./assets/fonts/CabinetGrotesk-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CoveredByYourGrace';
  src: url('./assets/fonts/CoveredByYourGrace-Regular.ttf') format('truetype');
  font-style: normal;
}


 
  body {
    margin: 0;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    
  }

  @media (max-width: 480px) {
    body, html {
      margin: 0;
      padding: 0;
      overflow-x: hidden;  /* Prevent horizontal scroll */
      width: 100%;
    }
  
  }